<mat-card-title style="margin: 20px 50px;">
    <h1>Desafio Angular</h1>
    <h2>Endereços</h2>
</mat-card-title>
<section>
    <mat-card style="margin: 50px;">
        <mat-card-content>
            <form>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder = 'Informe o CEP a ser adicionado'
                    [(ngModel)] = "cep1" name = "cep1" (cepadicionado) = "adicionar($event.target.value)"> <!---->
                </mat-form-field>               
                <button mat-raised-button (click) = "adicionar()"><mat-icon>add_location</mat-icon>Adicionar</button>
            </form>
        </mat-card-content>
        <mat-card-actions>                   
        </mat-card-actions>
    </mat-card>
</section>

<section>
    <mat-card style="margin: 50px;">
        <mat-card-title>
             <h3>Filtro de Pesquisa</h3>
        </mat-card-title>
        <mat-card-content>
            <form >
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="CEP" name="cep"
                    [(ngModel)] = "cep" >
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="UF" name="uf"
                    [(ngModel)] = "uf" >
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder ="Cidade" name="cidade"
                    [(ngModel)] = "cidade" >
                </mat-form-field> 
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder ="Logadouro" name = "logadouro"
                    [(ngModel)] = "logadouro" >
                </mat-form-field>                 
                <button mat-raised-button (click) = "pesquisar()"><mat-icon>search</mat-icon>Pesquisar</button>
            </form>
        </mat-card-content>
      
    </mat-card>    
</section>

    <mat-card style="margin: 50px;" *ngIf = "cepadicionado.length || ceppesquisado.length > 0"> 
        <mat-card-content>
        <section>
            <mat-list>
                <h3 matHeader>Resultado</h3>
                <mat-list-item *ngFor = "let c of cepadicionado; let i=index" >
                    <mat-icon matListIcon>place</mat-icon>
                    <h2 matLine>{{ c.cep1 }}</h2>
                    <button mat-icon-button (click)= "excluir(i)"></button>
                    <mat-icon>delete</mat-icon>
                </mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item *ngFor = "let c of ceppesquisado; let i=index" >
                    <mat-icon matListIcon>place</mat-icon>
                    <h2 matLine>{{ c.cep }}</h2>
                    <h2 matLine>{{ c.uf }}</h2>
                    <h2 matLine>{{ c.cidade }}</h2>
                    <h2 matLine>{{ c.logadouro }}</h2>
                    <button mat-icon-button (click) = "excluir(i)"></button>
                    <mat-icon>delete</mat-icon>
                </mat-list-item>
            </mat-list>
        </section> 
        </mat-card-content>     
     <mat-card-actions>                 
    </mat-card-actions>       
    </mat-card>    
